{%extends 'base.html'%} {% load static %} {% block main_area %}
{% include 'alert.html' %}
<!-- Main Section Start -->
<div class="main-section">
  <div
    class="page-section nopadding cs-nomargin"
    style="
      margin-top: 0px;
      padding-top: 60px;
      padding-bottom: 60px;
      margin-bottom: 0px;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="user-dashboard loader-holder">
            <div class="user-holder">
              <h3 class="text-center" style="margin-bottom: 0">LJ Note Send</h3>
              <div class="float-end login-option">
                <button type="button" 
                  class="btn btn-info"
                  data-target="#sign-in"
                  data-toggle="modal"                  
                  >Login</button
                >
              </div>
              <hr />
              <div id="restaurant-sets-holder">
                <form
                  class="form-fields-set foodbakery-dev-restaurant-form"
                  method="post"                  
                   >
                   {% csrf_token %}
                  <ul
                    class="register-add-restaurant-tab-container restaurant-information-tab-container"
                  >
                    <li>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="row">
                            <ul>
                              <li>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="field-holder">
                                    <label>발신 계정</label>
                                    <div class="row">                                      
                                      <div class="col">
                                        <button type="button" class="btn btn-outline-info" data-target="#acc_reg" data-toggle="modal">계정등록</button>
                                      </div>
                                      <div class="col">
                                        <button type="button" class="btn btn-outline-info">계정 검증</button>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="select-holder">
                                        <select class="form-select" name="accounts" multiple aria-label="multiple select example" size="5" style="height: 100%;">
                                              {% for acc in acc_list%} 
                                              <option value="{{acc.id}}">{{acc.nid}} / {{acc.validation}}</option>
                                              {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="field-holder">
                                    <label>수신자 아이디</label>
                                    <div class="row">                                      
                                      <div class="col">
                                        <button type="button" class="btn btn-outline-info" data-target="#blg_reg" data-toggle="modal">수신자 등록</button>
                                    </div>
                                    {%comment%} <div class="col">
                                      <button type="button" class="btn btn-outline-info" data-target="#blg_col" data-toggle="modal">수신자 수집</button>
                                    </div> {%endcomment%}
                                    </div>
                                    <div class="row">
                                      <div class="select-holder">
                                        <select class="form-select" name="receivers" multiple aria-label="multiple select example" size="5" style="height: 100%;">
                                          {% for blg in bloger_list%} 
                                          <option value="{{blg.id}}">{{blg.bid}} / {{blg.blog_name|truncatewords:5}} / {{blg.keyword}}</option>
                                          {% endfor %}
                                          </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                                  <div class="field-holder">
                                    <label>메세지</label>
                                    <div class="row">
                                      <div class="col">
                                        <button type="button" class="btn btn-outline-info" data-target="#msg_reg" data-toggle="modal">메세지 등록</button>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <select class="form-select" name="message" multiple aria-label="multiple select example" size="5" style="height: 100%;">
                                          {% for msg in msg_list%} 
                                          <option value="{{msg.id}}">{{msg.msg|truncatewords:20}}</option>
                                          {% endfor %}                                          
                                          </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                                  <div class="field-holder">
                                    <label>명언</label>
                                    <div class="row">
                                      <div class="col">
                                        <button type="button" class="btn btn-outline-info" data-target="#quote_reg" data-toggle="modal">명언 등록</button>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <select class="form-select" name="quote" multiple aria-label="multiple select example" size="5" style="height: 100%;">
                                          {% for q in quote_list%} 
                                            <option value="{{q.id}}">{{q.qut|truncatewords:20}}</option>
                                          {% endfor %}
                                          </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                                  <div class="field-holder">
                                    <label>발신 결과</label>
                                    <div class="row">
                                        <div class="col">
                                          <select class="form-select" multiple aria-label="multiple select example" size="10" style="height: 100%;" disabled>
                                            {% for l in log_list%} 
                                            <option value="{{l.id}}">{{l.msg}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                          <div class="float-start field-holder">
                            <div class="float-start payment-holder">
                                <button type="submit" id="send_note" class="btn btn-info">Submit</button>                                
                            </div>                                                        
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="float-end field-holder">
                                <div class="float-end field-holder">
                                    <button type="submit" id="data_delete" class="btn btn-warning">Delete</button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Section End -->

<!-- Modal Popup Start For Acc -->
<div class="modal fade" id="acc_reg" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="login-form">
      <div class="modal-content">
        <div class="tab-content">
          <div id="user-login-tab" class="tab-pane fade in active">
            <div class="modal-header">
              <button
                type="button"
                class="float-start close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
              <h5 class="modal-title">
                네이버 계정 등록
              </h5>
            </div>
            <div class="modal-body">
              <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}             
                {{AccForm.as_div}}
                <div class="input-filed">
                  <label>대량 등록</label>
                  <div class="input-group">
                    <input type="file" class="form-control" id="AccForm-file" name="AccForm-file" aria-label="Upload">
                  </div>
                </div>                 
                <div class="input-filed input-field-btn">
                  <div class="ajax-login-button input-button-loader">
                    <input type="submit" class="cs-bgcolor" value="등록" />
                  </div>
                </div>
              </form>                             
            </div>
          </div>                    
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Popup For Acc End -->

<!-- Modal Popup Start For Blg -->
<div class="modal fade" id="blg_reg" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="login-form">
        <div class="modal-content">
          <div class="tab-content">
            <div id="user-login-tab" class="tab-pane fade in active">
              <div class="modal-header">
                <button
                  type="button"
                  class="float-start close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title">
                  수신자 등록
                </h5>
              </div>
              <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}             
                    <div class="input-filed">
                      <!-- <i class="icon-user4"></i> -->
                      {{RecForm.as_div}}
                    </div>
                    <div class="input-filed">
                      <label>대량 등록</label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="RecForm-file" name="RecForm-file" aria-label="Upload">
                      </div>
                    </div>                  
                    <div class="input-filed input-field-btn">
                      <div class="ajax-login-button input-button-loader">
                        <input type="submit" class="cs-bgcolor" value="등록"/>
                      </div>
                    </div>
                </form>                             
              </div>
            </div>                    
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Popup For Blg End -->

  <!-- Modal Popup Start For Blg_collect -->
<div class="modal fade" id="blg_col" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="login-form">
      <div class="modal-content">
        <div class="tab-content">
          <div id="user-login-tab" class="tab-pane fade in active">
            <div class="modal-header">
              <button
                type="button"
                class="float-start close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
              <h5 class="modal-title">
                수신자 수집
              </h5>
            </div>
            <div class="modal-body">
              <form method="post" enctype="multipart/form-data" action="collect/">
                  {% csrf_token %}             
                  <div class="input-filed">
                    <input type="text" name='keyword'  placeholder="수집할 키워드" />                  
                  </div>                  
                  <div class="input-filed input-field-btn">
                    <div class="ajax-login-button input-button-loader">
                      <input type="submit" class="cs-bgcolor" value="등록"/>
                    </div>
                  </div>
              </form>                             
            </div>
          </div>                    
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Popup For Blg_collect End -->

  <!-- Modal Popup Start For Msg -->
<div class="modal fade" id="msg_reg" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="login-form">
        <div class="modal-content">
          <div class="tab-content">
            <div id="user-login-tab" class="tab-pane fade in active">
              <div class="modal-header">
                <button type="button"
                class="float-start close"
                data-dismiss="modal"
                aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title">
                  메세지 등록
                </h5>
              </div>
              <div class="modal-body">                
                <form method="post">      
                  {% csrf_token %}           
                  <div class="input-filed">                      
                    {{MsgForm.as_p}}
                  </div>                  
                  <div class="input-filed input-field-btn">
                    <div class="ajax-login-button input-button-loader">
                      <input type="submit" class="cs-bgcolor" value="등록" />
                    </div>
                  </div>
                </form>
              </div>
            </div>                    
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Popup For Msg End -->


  <!-- Modal Popup Start For Quote -->
<div class="modal fade" id="quote_reg" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="login-form">
        <div class="modal-content">
          <div class="tab-content">
            <div id="user-login-tab" class="tab-pane fade in active">
              <div class="modal-header">
                <button
                  type="button"
                  class="float-start close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title">
                  명언 등록
                </h5>
              </div>
              <div class="modal-body">                                
                  <form method="post" enctype="multipart/form-data" action="">      
                    {% csrf_token %}           
                    <div class="input-filed">                      
                      {{QutForm.as_p}}
                    </div>
                    <div class="input-filed">
                      <label>대량 등록</label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="QutForm-file" name="QutForm-file"  aria-label="Upload">                    
                      </div>
                    </div>                  
                    <div class="input-filed input-field-btn">
                      <div class="ajax-login-button input-button-loader">
                        <input type="submit" class="cs-bgcolor" value="등록" />
                      </div>
                    </div>
                  </form> 
              </div>
            </div>                    
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Popup For Quote End -->


<!-- Modal Popup Start For Account -->
<div class="modal fade" id="sign-in" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="login-form">
        <div class="modal-content">
          <div class="tab-content">
            <div id="user-login-tab" class="tab-pane fade in active">
              <div class="modal-header">
                <button
                  type="button"
                  class="float-start close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title">
                  Login To Your Account
                </h5>
              </div>
              <div class="modal-body">                
                <div class="cs-login-pbox">                  
                  <form                    
                    method="post"
                    class="wp-user-form webkit"
                    id="ControlForm_43687">
                    {% csrf_token %}                 
                    <div class="input-filed">
                      <i class="icon-user4"></i>
                      <input type="text" name='uname' placeholder="Username" />
                    </div>
                    <div class="input-filed">
                      <i class="icon-unlock-alt"></i>
                      <input type="password" name="pwd" value="Password" />
                    </div>                  
                    <div class="input-filed input-field-btn">
                      <div class="ajax-login-button input-button-loader">
                        <input type="submit" class="cs-bgcolor" value="Log in" />
                      </div>
                    </div>
                  </form>                             
                </div>
              </div>
            </div>                    
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Popup For Login End -->

{% endblock %}
